Body
{
Background-color:blue;
}

h1
{
Color:white;
}

h2
{
Color:red;
}

p
{
Font-family:monospace;
Color:white;
Font-size: 18px;
}

Button
{
Background-color: #0dff00;
color:#0011ff;
}

#Song2
{
Background-color:#00d9ff;
Color:white;
}

img
{
Width:400px;
Height:400px;
}

#box
{
Width:200;px
Length: 200px;
Color:#ff00e6;
Background-color:white;
}

#box2
{
Width:100px;
Height:3px;
Color:blue;
Background-color: pink;
Font-size: 3px;

}

div#Linkup
{
Position:absolute;
Top:630px;
Right:100px;
Margin-top:25px;
Rotate:-10deg;
}






